/*----------------------------- GLOBAL -----------------------------*/

body {
  font-family: "Roboto", sans-serif;
  width: 1600px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*----------------------------- HEADER -----------------------------*/

.header-backgroud {
  background-color: #ffffff;
}

.header-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.header-logo-web {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.header-logo-link {
  text-decoration: none;
}

.menu-list {
  list-style-type: none;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.menu-list-item {
  color: #212121;
  text-decoration: none;
}

.menu-list-item:hover {
  color: #2196f3;
  text-decoration: none;
}

.contacts-list {
  list-style-type: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-list-item {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-list-item:hover {
  color: #2196f3;
}

/*----------------------------- SECTION-1 -----------------------------*/

.hero {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
}

.hero-text {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button-text {
  position: sticky;
  width: 138px;
  height: 10px;
  left: 732px;
  top: 440px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*----------------------------- SECTION-2 -----------------------------*/

.about-company-background {
  background: #e5e5e5;
}
.about-us-list {
  list-style: none;
}

.about-us-list-head {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-us-list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*----------------------------- SECTION-3 -----------------------------*/

.what-do-we-do-background {
  background: #e5e5e5;
}

.what-do-we-do {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.what-do-we-do-list {
  list-style-type: none;
}

/*----------------------------- SECTION-4 -----------------------------*/

.our-team-background {
  background: #f5f4fa;
}
.our-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team-list {
  list-style-type: none;
}
/*----------------------------- FOOTER -----------------------------*/

.footer-background {
  background: #2f303a;
}

.footer-logo {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.footer-logo-web {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.footer-logo-link {
  text-decoration: none;
}

.footer-adress-list {
  list-style-type: none;
}

.footer-adress-list-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.footer-adress-list-email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-adress-list-phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
